# Data Intern Challenge

This notebook was created to solve the data challenge for intern applicants and the questions/requirements will be explained as we go.

## Imports and database connection

First, some libraries will be imported and the connection with the database will be created.

In [2]:
import psycopg2
import pandas as pd
import numpy as np

In [3]:
connection = psycopg2.connect(
    database="postgres",
    user="read_only_user",
    password="banking123",
    host="db-stone.cjepwwjnksng.us-east-1.rds.amazonaws.com",
    port='5432'
)

In [4]:
cursor = connection.cursor()
#Display the PostgreSQL version installed
cursor.execute("SELECT version();")
record = cursor.fetchone()
print("You are connected into the - ", record,"\n")

You are connected into the -  ('PostgreSQL 11.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.3 20140911 (Red Hat 4.8.3-9), 64-bit',)

## First exercise

1. Extract and analyze the data in the database in order to answer the following questions. Provide a description and/or comments for each solution.

- What is the average `age` of the customers in the database?

To answer this question, we will first import the `customers` table into a DataFrame, then take a look in its columns.

In [7]:
customers = pd.read_sql("SELECT * FROM CUSTOMERS", connection)
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5674 entries, 0 to 5673
Data columns (total 4 columns):
id               5674 non-null object
age              5674 non-null int64
segment          5674 non-null object
vintage_group    5674 non-null object
dtypes: int64(1), object(3)
memory usage: 177.4+ KB

Now that we know its columns, we can calculate the average age on this database.

In [10]:
print("The average age of the customers in the database is", np.average(customers.age))

The average age of the customers in the database is 35.059922453295734

Obs: alternative query to get the result directly: `SELECT AVG(age) FROM customers`

- How is the `card_family` ranked based on the `credit_limit` given to each card?

For this question, we will analyze the information on the other tables first.

In [11]:
cards = pd.read_sql("SELECT * FROM cards", connection)
transactions = pd.read_sql("SELECT * FROM transactions", connection)
frauds = pd.read_sql("SELECT * FROM frauds", connection)

In [12]:
cards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
card_number     500 non-null object
card_family     500 non-null object
credit_limit    500 non-null int64
customer_id     500 non-null object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [13]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
id                  10000 non-null object
card_number         10000 non-null object
transaction_date    10000 non-null object
value               10000 non-null int64
segment             10000 non-null object
dtypes: int64(1), object(4)
memory usage: 390.8+ KB

In [14]:
frauds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
transaction_id    109 non-null object
fraud_flag        109 non-null bool
dtypes: bool(1), object(1)
memory usage: 1.1+ KB

In [18]:
frauds.fraud_flag.value_counts()

True    109
Name: fraud_flag, dtype: int64

- For the transactions flagged as fraud, what are the `id`s of the transactions with the highest value?

In [13]:
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'customers'")
recset = cursor.fetchall()
# for rec in recset:
#     print(rec)

In [16]:
print(recset)

[('postgres', 'public', 'customers', 'id', 1, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'postgres', 'pg_catalog', 'varchar', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'), ('postgres', 'public', 'customers', 'age', 2, None, 'YES', 'smallint', None, None, 16, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'postgres', 'pg_catalog', 'int2', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'), ('postgres', 'public', 'customers', 'segment', 3, None, 'YES', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'postgres', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'), ('postgres', 'public', 'customers', 'vintage_group', 4, None, 'YES', 'character varying', 10, 40, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'postgres', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [17]:
cursor.execute("SELECT AVG(age) FROM customers")
average_age = cursor.fetchone()
print(average_age)

(Decimal('35.0599224532957349'),)

In [22]:
dat = pd.read_sql_query("SELECT * FROM customers", connection)
dat.head()

        id  age  segment vintage_group
0  CC25034   35  Diamond           VG1
1  CC59625   22  Diamond           VG1
2  CC69314   33  Diamond           VG1
3  CC67036   46  Diamond           VG1
4  CC25597   44  Diamond           VG1

In [24]:
np.average(dat.age)

35.059922453295734

In [6]:
# Closing the database connection
cursor.close()
connection.close()
print("PostgreSQL connection is now closed")

PostgreSQL connection is now closed